.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      .side_bar__user-name__top-items__name 
        masa
      %ul.side_bar__user-name__top-items__icons
        %li.side_bar__user-name__top-items__icons__edit 
          = link_to "#" do
            %i.far.fa-edit
        %li.side_bar__user-name__top-items__icons__cog
          = link_to "#" do
            %i.fa.fa-cog

  .side_bar__group
    .side_bar__group__lists
      .side_bar__group__lists__top
        techcamp
      .side_bar__group__lists__bottom
        まだメッセージがありません
  